# ignore non change files
Assets/Assets/AnimationClip/
Assets/Assets/Avatar/
Assets/Assets/Cubemap/
Assets/Assets/Font/
Assets/Assets/LightingSettings/
Assets/Assets/Mesh/
Assets/Assets/movies/
Assets/Assets/PhysicMaterial/
Assets/Assets/RenderTexture/
Assets/Assets/Resources/
Assets/Assets/Shader/
Assets/Assets/TextAsset/
Assets/Assets/Texture2D/

Library/
Logs
obj/
.collabignore
Assembly-CSharp.csproj
SuperMarioRPG.sln

# ignore meta file
*.meta